.particles-wrapper-header {
    height: 90px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 5;
    transition: height 2s ease;
}

.filler-div-header {
    display: none;
}

@media only screen and (max-width: 1008px) {
    .filler-div-header {
        display: block;
    }
}

.nav-square {
  position: fixed; 
  z-index: 10;
  top: 25px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0.5;
}

.header-name {
  position: fixed; 
  z-index: 10;
  left: 25px;
  font-size: 36px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0.5;
  font-family: 'Carrois Gothic', sans-serif;
}

.header-container {
  background-color: black;
  color: white;
  /* max-height: 90px; */
  height: 90px;
  display: none;
  position: fixed;
  min-width: 100%;
  transition: height 2s ease;
  overflow: hidden;
  z-index: 2;
}
/* 
.header-container:hover {
    height: 275px;
}

.header-container:hover .particles-wrapper-header {
    height: 275px;
} */

.nav-square:hover, .header-name:hover {
  opacity: 1;
}

@media only screen and (max-width: 1008px ) {
    .header-container {
      display: block;
    }
}

.header-nav-button {
    top: 75px;
}


.header-nav-buttons {
    /* position: fixed; */
}