body {
    margin: 0;
    padding: 0;
}

#root {
    background-color: #E2EBE8;
    height: 100vh;
}

h1 {
    /* color: #65AF9B; */
}

.app-wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
}